<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortraitManager.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OwlcatPortraitManager.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortraitManager.Properties.CoreSettings>
            <setting name="GameType" serializeAs="String">
                <value>-</value>
            </setting>
        </PortraitManager.Properties.CoreSettings>
        <OwlcatPortraitManager.Properties.CoreSettings>
            <setting name="WOTRPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="KINGPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="MaxWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value>l</value>
            </setting>
            <setting name="EnabledCustomNPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedLang" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ROGUEPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="TYRANNYPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="PILLARSPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="DEADFIREPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="WASTEPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
        </OwlcatPortraitManager.Properties.CoreSettings>
    </userSettings>
</configuration>