<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortraitManager.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortraitManager.Properties.CoreSettings>
            <setting name="GameType" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
        </PortraitManager.Properties.CoreSettings>
    </userSettings>
</configuration>