<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PathfinderPortraitManager.Properties.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PathfinderPortraitManager.Properties.UseStamps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PathfinderPortraitManager.Properties.dynamic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PathfinderPortraitManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PathfinderPortraitManager.Properties.CoreSettings>
            <setting name="ActiveLocal" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="WOTRPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="KINGPath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="MaxWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value>p</value>
            </setting>
        </PathfinderPortraitManager.Properties.CoreSettings>
        <PathfinderPortraitManager.Properties.UseStamps>
            <setting name="isFirstPortrait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstScaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstGallery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFirstAny" serializeAs="String">
                <value>True</value>
            </setting>
        </PathfinderPortraitManager.Properties.UseStamps>
        <PathfinderPortraitManager.Properties.dynamic>
            <setting name="kingpath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="wotrpath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
        </PathfinderPortraitManager.Properties.dynamic>
        <PathfinderPortraitManager.Properties.Settings>
            <setting name="firstlaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="folderfirstlaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultgametype" serializeAs="String">
                <value>p</value>
            </setting>
            <setting name="activelocal" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="galleryfirstlaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wotrpath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="kingpath" serializeAs="String">
                <value>!NOTSET!</value>
            </setting>
            <setting name="maxwidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxheight" serializeAs="String">
                <value>0</value>
            </setting>
        </PathfinderPortraitManager.Properties.Settings>
    </userSettings>
</configuration>